body {
  //background: rgb(190, 34, 211);
  background-image:url("https://data.comsa.io/user/0b463532-1696-4603-bad4-e3374c3590d1/asset/c4eb32dd-8143-4f56-8a11-a04ca236583b.JPEG");
}

h1 {
  color:rgb(0,0,255);
  font-size: 70px;
  text-align: right;
  margin-right: 70px;
}

h2 {
  color:rgb(255,255,255);
  font-size: 25px;
}

h3 {
  color:rgb(255,255,255);
  font-size: 14px;
}
.left {
  width: 700px;
}
.right {
  width: 50%;
}

.account-card {
  background: rgb(255,255,255,0.8);
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.sender-card {
  background: rgb(255,255,255,0.8);
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

#button-haichi{
  text-align: right;
}

.button-sign{
  width:100px;height:50px; 
  background:rgb(255,255,255,0.8); 
  color:rgb(0,0,0); 
  border-radius: 16px;
  cursor: pointer;
}

.tx-card {
  background: rgb(255,255,255,0.8);
  border-radius: 16px;
  width: 800px;
  margin: 16px;
  padding: 32px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 300px;                    // Размер белого фона слева
}

#wallet-addr {
  font-size: 20px;                 // Размер шрифта адреса кошелька
}

#wallet-xym {
  text-align: right;
  font-size: 35px;
  font-weight: 700;
}

.container {
  font-size: 20px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
